# Supabase Project URL
# DESCRIPTION: RESTful endpoint for querying and managing your database
NEXT_PUBLIC_SUPABASE_PROJECT_URL=your_supabase_project_url_here

# Supabase Publishable key
# DESCRIPTION: This key is safe to use in a browser if you have enabled Row Level Security (RLS) for your tables and configured policies.
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here

# Supabase Secret keys
# DESCRIPTION: These API keys allow privileged access to your project's APIs. Use in servers, functions, workers or other backend components of your application.
# WARNING: Never expose this key to the client!
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
